!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Greendiary
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .header
      .header__bar-row
        %h1.grid-6
        .user-nav
          =linl_to "/tweets/new"
          投稿する
    = yield
    .footer
      %p
        Copyright green diary 2020.